<!-- 首页 -->
<include file="Main/user_header" />
<div id="main-nav">
	<div class="panel panel-default">
		<div class="panel-heading">
		</div>
		<div class="panel-body">
			<ul class="list-group">
				<li class="list-group-item">
					<form class="form-inline">
						<div class="form-group">
							<select id="year" name="year">
								<volist name="year" id="vo">
					    			<option <php> if($vo == $curr_year){echo 'selected';}</php> value="{$vo}">{$vo}</option>
					    		</volist>
					    	</select>
						</div>
						<div class="form-group">
							<select id="season" name="season">
								<volist name="season" id="vo">
					    			<option <php> if($vo[1] == $curr_season){echo 'selected';}</php> value="{$vo[1]}">{$vo[0]}</option>
					    		</volist>
					    	</select>
						</div>
					</form>
			  	</li>
				<volist name="report_list" id="vo">
					<li class="list-group-item">
						<a href="{:U('main/download',array('id'=>$vo['id']))}" class="badge" target="_blank">下载</a>
				    	<a href="{:U('main/reportdel',array('id'=>$vo['id']))}" class="badge">删除</a>
				    	<a href="{:U('main/checkExcel',array('id'=>$vo['id']))}" class="badge">查看</a>
				    		{$vo.year}年{$vo.month}月{$vo.reportname}({$vo.frequentness})
				  	</li>
			  	</volist>				
				<ul class="pagination">
					{$page}
				</ul>
			</ul>
		</div>
	</div>
</div><!--/main-nav-->

<div id="content">
	<div class="container">
		<div id="contentWrap" class="row">
			<div class="col-xs-12">
				<div class="page-header">
					<!-- <h1>资产负债表</h1> -->

				</div>
				<div class="boxx">
					<div class="boxx-body">
						<div class="row">
							<div class="col-sm-12">
								<div class="tabbable">
									<form class="form-horizontal" role="form" action="{:U('main/uploadReport')}" method="post" enctype="multipart/form-data" id="form">
										<div class="form-group">
											<label for="organizationcode" class="col-lg-2 control-label">上传EXCEL表：</label>
											<div class="col-lg-10">
												<input type="file" name="table" />
												<input type="text" name="backurl" id="backurl" style="display:none"  />
												<p class="help-block">请上传97-2003 Excel格式的xls文件</p>
											</div>
										</div>

										<div class="form-actions form-actions-padding-sm">
											<div class="row">
												<div class="col-md-10 col-md-offset-2">
													<button type="botton" class="btn btn-success" id="submit"><i class="glyphicon glyphicon-ok"></i> 上传</button>
												</div>
											</div>
										</div>
									</form>
									</div><!--/tab-content-->
								</div><!--/tabbable-->

							</div><!--/col-sm-12-->
						</div><!--/row-->
					</div><!--/boxx-body-->
				</div><!--/boxx-->
			</div><!--/col-xs-12-->
		</div><!--/contentWrap-->
	</div><!--/container-->


<include file="Main:console_footer" />
<script type="text/javascript">
$(function(){
	$('#backurl').val(window.location.href);
	$('a').click(function (e) {
	 	window.location.href = window.location.href.split("?")[0]+'?s=/home/main/changereport.html&report='+e.currentTarget.id+'&year='+$('#year').val()+'&month='+$('#season').val();
	});
	if(window.location.href.indexOf('&')>-1&&window.location.href.indexOf('report=')>-1)
	{
		$('#ALL').parent().removeClass("active");
		$('#'+window.location.href.split('=')[2].split('&')[0]).parent().addClass("active");
	}
	$('#season').change(function(){
		window.location.href = window.location.href.split("?")[0]+'?s=/home/main/changereport.html&report='+$('.active').children()[0].id+'&year='+$('#year').val()+'&month='+$('#season').val();
	});
	$('#year').change(function(){
		window.location.href = window.location.href.split("?")[0]+'?s=/home/main/changereport.html&report='+$('.active').children()[0].id+'&year='+$('#year').val()+'&month='+$('#season').val();
	});
});
</script>